<!DOCTYPE html>
<html lang="en">
<head>
    <!-- You should import html-head from layout/ here -->
    <%= require('html-loader!./layout/html-head.html') %>
    <!-- ********************************************* -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %> - webTop</title>
</head>
<body>
    <%= require('html-loader!./layout/header.html') %>
    <div class="container container-z-index">
        <ul class="breadcrumb row">
            <li><a href="./index.html" class="link">WebTop</a></li>
            <li></li><span class="link-text"><%= htmlWebpackPlugin.options.title %></span></li>
        </ul>
        <div class="page-wrap row">
            <%= require('html-loader!./layout/nav-side.html') %>
            <div class="content col-md-9">
                <div class="panel">
                    <div class="panel-title">个人中心</div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>