.footer{
    margin: 20px 0;
    background: #374785;
    padding-bottom: 10px;
    color: #fff;
}
.footer .links{
    text-align: center;
    line-height: 30px;
}
.footer .links .link{
    color: #fff;
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #fff;
    line-height: 30px;
}