<div class="footer container-z-index">
    <div class="w container-z-index">
        <div class="links container-z-index">
            <a href="#" class="link" target="_blank">GitHub</a> |
            <a href="#" class="link" target="_blank">Blog</a> |
            <a href="#" class="link" target="_blank">Team</a> |
            <a href="#" class="link" target="_blank">Contact</a> 
        </div>
        <p class="copyright">
            Copyright © 2021 ELIVE All Right Reserved
        </p>
    </div>
</div>