body{
    position: relative;
    z-index: -5;
    background: rgb(195,199,218);
}
.container-fluid{
    position: relative;
    z-index: -4;
}
.hot-list{
    position: relative;
    z-index: -3;
}
.hot-list .panel{
    position: relative;
    z-index: -2;
}
.player-container {
    display: flex;
    justify-content: center;
}
.player-title {
    font-size: 24px;
    color: #000;
}
.player-title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.article-msg{
    display: flex;
    align-items: center;
}
.article-msg > div{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    /* flex: 1 1; */
    display: flex;
    /* justify-content: space-between; */
}
.operation-btn > span{
    padding: 5px 10px;
    font-size: 12px;
    margin: 0 20px;
}
.time{
    margin-left: auto;
}

.list-group {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.player-container-item {
    
}

.card-list {
    margin: 20px auto;
    width: 70%;
}
